[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
dj-database-url = "*"
django-rest-knox = "*"
Django = "*"
pyjwt = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
