asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
dj-database-url==0.5.0
Django==3.1.2
django-cors-headers==3.5.0
django-filter==2.4.0
django-rest-knox==4.1.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
idna==2.10
Pillow==8.0.0
psycopg2-binary==2.8.6
pycparser==2.20
PyJWT==1.7.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
stripe==2.55.0
urllib3==1.25.11