$black: #0f0f0f;
$white: #fff;

$lato: Lato;
$montserrat: Montserrat;
$open-sans: Open-Sans;
$poppins: Poppins;
$roboto: Roboto;

$bold: 700;
$light: 100;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$x-bold: 900;
