$amazonBlue: #3ea6ff;
$amazonDarkBlue: #131921;
$amazon: #fdbd69;
$amazonBright: #fba730;
$black: #0f0f0f;
$white: #fff;
$textGrey: #686868;
$grey: #dadada;

$lato: Lato;
$montserrat: Montserrat;
$open-sans: Open-Sans;
$poppins: Poppins;
$roboto: Roboto;

$bold: 700;
$light: 100;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$x-bold: 900;

$primeLogo: "https://ndhlovuprofile.s3-eu-west-1.amazonaws.com/amzon-clone/prime_logo.png";
